// colores principales

$color-cuerpo: #f1e9bb;
$color-texto: black;
$color-link: #241811;
$color-secundario: #b39e58;

// Otros colores

$Colores: black, whitesmoke, red, yellow;

// Texto

$textoPrincipal: Arial, Helvetica, sans-serif;



